body {
  font-family: Arial;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav h2 {
  color: white;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

input {
  padding: 8px;
  margin: 10px;
}

button {
  padding: 8px 12px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}